body {
    font-weight: 500;
    background: rgb(149, 149, 149);
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: block;
    border-bottom-left-radius: 2em;
    padding: 0 2%;


}

div {
    max-width: 700px;
    margin: auto;
    display: block;
    padding: 2mm;
}



header {
    margin-bottom: 40px;
    border: red;
}

h1 {
    background: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1em;
    color: rgb(40, 23, 189)
    
}

main{
    margin-block-start: 5%;
    border-bottom: solid rgb(255, 255, 255);
}

article {
    margin-bottom: 40px;
    background-color: rgb(252, 252, 252);
    border: 1px solid #666666
}




h2 {
    color: rgb(255, 255, 255);
    margin-left: unset;
    background: rgb(30, 15, 235);
}

img {
    width: 100%;
    border: 2px;
}

#Primera {
    color: rgb(102, 102, 102);

}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#Segunda {
    font-style: italic;
    color: rgb(102, 102, 102);
}

hr {
    color: black;
}

footer {
    padding-bottom: 90px;
}